##
# @file
# Environment variables; copy this file to .env and adjust settings as needed.

# settings.php:
MYSQL_HOSTNAME=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
DRUPAL_HASH_SALT=

# docker-compose.yml:
COMPOSE_PROJECT_NAME=
RNAOCA_CERT=/usr/local/share/ca-certificates/mkcert_development_CA_.crt
DOCKER_REPO_FOLDER=

# drush:
DRUSH_OPTIONS_URI=
